* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
  padding: 24px 16px;

  @media (min-width: 768px) {
    padding: 32px 24px;
  }

  @media (min-width: 1200px) {
    padding: 40px 32px;
  }
}
