.header {
    background-color: #5c3d2e;
    color: #fff;
    padding: 1em;
    max-height: 96px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    .logo {
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        font-size: 1.2rem;
    }

    .search-box {
        position: relative;
        flex: 1;
        max-width: 400px;
        margin: 0 1rem;

        input {
            width: 100%;
            padding: 0.5rem 2.5rem 0.5rem 0.8rem;
            border-radius: 50px;
            border: 2px solid transparent;
            outline: none;
            background-color: #7a5745;
            color: #fff;
            transition: all 0.2s ease;

            &::placeholder {
                color: #eee;
            }

            &:focus {
                border-color: #fff;
                box-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
                background-color: #7a5745;
            }
        }

        svg {
            position: absolute;
            right: 0.8rem;
            top: 50%;
            transform: translateY(-50%);
            color: #fff;
        }
    }

    nav {
        display: flex;
        align-items: center;
        gap: 1rem;

        .text-link {
            color: #fff;
            text-decoration: none;
            font-weight: 500;

            &:hover {
                text-decoration: underline;
            }

            display: flex;
            align-items: center;
            gap: 0.3rem;
        }

        a.catalog-link {
            padding: 0.3rem 0.5rem;
        }

        button.icon-btn {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: none;
            background-color: #5c3d2e;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            color: #fff;

            &:hover {
                background-color: #7a5745;
            }
        }
    }
}